@media (width >= 1024px) {

  .header {
    max-width: var(--block-width);
    margin-inline: var(--block-offsetX);
  }

  /* блок с контентом */

  .section__sprint-card {
    width: var(--block-width);
    margin-inline: var(--block-offsetX);
  }

  .section__sprint-text {
    margin: 21px 0 25px 25px;
  }

  .section__sprint-text:last-of-type {
    margin-block: 5px 0;
  }

  .card__button {
    gap: 5px;
  }

  /* кнопка в конце секции */

  .save-button {
    gap: 8px;
    padding: 17px 20px;
  }

  .save-button .save-icon {
    width: 21px;
    height: 21px;
  }

  /* открываюшееся окно */

  .dialog {
    padding: 0;
    width: var(--dialog-width);
  }
  
  .form__dialog-window {
    margin-inline: 9px 1px;
    padding: 30px 20px;
  }

  .form__dialog-button {
    margin-inline-end: 6px;
    padding: 10.5px 130.5px;
  }
}