@media (width >= 1024px) {

  .header {
    max-width: var(--block-width);
    margin-inline: var(--block-offsetX);
  }

  /* блок с контентом */

  .section__sprint-card {
    width: var(--block-width);
    margin-inline: var(--block-offsetX);
  }

  .section__sprint-text {
    text-wrap: wrap;
    margin: 20px 0 25px 24px;
  }

  .section__sprint-text:last-of-type {
    margin-block: 17px 0;
  }

  .card__button {
    gap: 5px;
  }

  /* кнопка в конце секции */

  .save-button {
    gap: 8px;
    padding: 17px 20px;
  }

  .save-button .save-icon {
    width: 21px;
    height: 21px;
  }

  /* открываюшееся окно */

  .dialog {
    padding: 0;
  }
  
  .section__dialog-window {
    padding: 30px 20px;
  }

  .section__dialog-button {
    padding: 8px 128.5px;
  }
}