@media (320px <= width <= 769px) {

  @media (width < 375px) {
    .header__decorative-title {
      font-size: var(--header-title-font-size-mobile);
    }
  }

  .header {
    padding-block: 120px;
  }

  /* блок с контентом */

  .section__sprint-card {
    width: 100%;
  }

  .section__sprint-text {
    margin: 23px 25px 25px 25px;
    padding-inline-end: 11px;
    text-wrap: wrap;
  }

  .card__button {
    gap: 5px;
  }

  /* кнопка в конце секции */

  .save-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14.5px 20px;
  }

  .save-button .save-icon {
    width: 28px;
    height: 28px;
  }

  /* открываюшееся окно */

  .dialog {
    padding: 0;
  }

  .form__dialog-window {
    padding: 28px 20px;
  }

  .form__dialog-content {
    margin-inline-start: 8px;
  }

  .form__dialog-button {
    padding: 10.5px 112.5px;
  }
}