/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-PressStart2P);
  align-items: center;
}

/* хэдер */

.header {
  margin-block: var(--header-ofsetY);
  text-align: center;
  border: var(--block-border);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: var(--header-padding);
}

.header__title {
  font-size: var(--header-title-font-size);
}

.header__subtitle {
  font-size: var(--header-subtitle-font-size);
  margin-block-start: var(--header-subtitle-ofset-top);
  text-transform: uppercase;
}

/* блок с контентом */

.section__sprint-card {
  font-family: var(--font-Inter);
  background-color: var(--bg-color);
  border: var(--block-border);
  margin-block: var(--block-ofsetY);
}

.section__sprint-title {
  font-size: 18px;
  padding: var(--block-title-padding);
}

.section__sprint-text {
  line-height: 21px;
  font-size: 18px;
}

.section__sprint-text:last-of-type {
  margin-block: 9px 0;
}

/* изобраджения */

.section__sprint-picture {
  position: relative;
  display: block;
}

.section__sprint-image-label {
  position: absolute;
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  -webkit-text-stroke: 1px #fff;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  display: block;
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .section__sprint-image-label {
    text-stoke: 1px #fff;
  }
}

.section__sprint-image {
  inline-size: 100%;
  block-size: 100%;
}

.section__sprint-card:nth-of-type(1) .section__sprint-picture {
  filter: contrast(100%);
}

.section__sprint-card:nth-of-type(2) .section__sprint-picture {
  filter: contrast(130%);
}

.section__sprint-card:nth-of-type(3) .section__sprint-picture {
  filter: saturate(30%) invert(1) sepia(140%);
}

.section__sprint-card:nth-of-type(4) .section__sprint-picture {
  filter: hue-rotate(30deg) drop-shadow(2);
}

.section__sprint-card:nth-of-type(5) .section__sprint-picture {
  filter: invert(1) contrast(50%);
}

.section__sprint-card:nth-of-type(6) .section__sprint-picture {
  filter: sepia(100%);
}

.section__sprint-card:nth-of-type(7) .section__sprint-picture {
  filter: blur(0.3rem) brightness(1.2) hue-rotate(210deg);
}

.section__sprint-card:nth-of-type(8) .section__sprint-picture {
  filter: hue-rotate(-280deg) blur(0.05rem);
}

/* кнопки */

.card__button {
  margin: 25px;
  display: flex;
  justify-content: end;
  gap: 12px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.card__like-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.like-button {
  border: transparent;
  background-color: transparent;
}

.button__text {
  position: relative;
  line-height: 90%;
  font-size: 14px;
  font-family: var(--font-PressStart2P);
  padding: 11px 37px;
  border: var(--block-border);
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: transparent;
  transition: box-shadow 0.3s ease;
}

.button__text::before, .footer__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-bg-aimation);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.footer__text-animation, .button__text-animated {
  position: relative;
  z-index: 1;
  display: inline-flex;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.button__text:hover::before, .footer__button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus-visible .button__text, .footer__button:focus-visible {
  box-shadow: var(--button-box-shadow);
  outline: none;
}

/* кнопка в футере */

.footer {
  margin: auto;
  margin-block-end: 100px;
  font-size: 14px;
  line-height: 90%;
}

.footer__button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: var(--footer-button-padding);
  margin: auto;
  position: relative;
  border: var(--block-border);
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

/* модальное окно */

.dialog {
  font-family: var(--font-PressStart2P);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-color);
  border: var(--block-border);
  background-color: var(--bg-color);
  inline-size: var(--dialog-width);
}

.dialog:not([open]) {
  display: none;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
} 

.section__dialog-window {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.section__dialog-content {
  display: grid;
  gap: 20px;
  grid-template-columns: min-content 1fr;
}

.section__dialog-image {
  inline-size: 39px;
  block-size: 39px;
  margin-block-start: 10px;
}

.section__dialog-text {
  text-wrap: pre-wrap;
  white-space: break-word;
}

.section__dialog-button {
  display: inline-block;
  background-color: var(--bg-color);
  border: var(--block-border);
}