/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: 'wght' 410;
  }

  .section__sprint-title {
    font-variation-settings: 'wght' 715;
  }

  .section__sprint-text {
    font-variation-settings: 'wght' 415;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-Inter);
  align-items: center;
}

/* хэдер */

.header {
  margin-block: var(--header-offsetY);
  text-align: center;
  border: var(--block-border);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: var(--header-padding);
  font-family: var(--font-PressStart2P);
}

.header__decorative-title {
  font-size: var(--header-title-font-size);
}

.header__title {
  font-size: var(--header-subtitle-font-size);
  margin-block-start: var(--header-subtitle-ofset-top);
  text-transform: uppercase;
}

/* блок с контентом */

.section__sprint-card {
  font-family: var(--font-Inter);
  background-color: var(--bg-color);
  border: var(--block-border);
  margin-block: var(--block-offsetY);
}

.section__sprint-title {
  font-size: 18px;
  padding: var(--block-title-padding);
}

.section__sprint-text {
  line-height: 21px;
  font-size: 18px;
}

.section__sprint-text:last-of-type {
  margin-block: 9px 0;
}

/* изобраджения */

.section__sprint-picture {
  position: relative;
  display: block;
}

.section__sprint-image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  display: block;
  text-shadow: 
    1px 0 var(--label-text-stroke-color),
    -1px 0 var(--label-text-stroke-color),
    0 1px var(--label-text-stroke-color),
    0 -1px var(--label-text-stroke-color);
}

@supports (text-stroke: 1px var(--label-text-stroke-color)) or (-webkit-text-stroke: 1px var(--label-text-stroke-color)) {
  .section__sprint-image-label {
    text-stroke: 1px var(--label-text-stroke-color);
    -webkit-text-stroke: 1px var(--label-text-stroke-color);
    text-shadow: none;
  }
}

.section__sprint-image {
  inline-size: 100%;
  block-size: 100%;
}

.section__sprint-card:nth-of-type(1) .section__sprint-picture {
  filter: contrast(100%);
}

.section__sprint-card:nth-of-type(2) .section__sprint-picture {
  filter: saturate(30%);
}

.section__sprint-card:nth-of-type(3) .section__sprint-picture {
  filter: hue-rotate(-10deg) contrast(200%);
}

.section__sprint-card:nth-of-type(4) .section__sprint-picture {
  filter: hue-rotate(30deg);
}

.section__sprint-card:nth-of-type(5) .section__sprint-picture {
  filter: invert(1);
}

.section__sprint-card:nth-of-type(6) .section__sprint-picture {
  filter: sepia(100%);
}

.section__sprint-card:nth-of-type(7) .section__sprint-picture {
  filter: blur(0.3rem);
}

.section__sprint-card:nth-of-type(8) .section__sprint-picture {
  filter: hue-rotate(-280deg) blur(0.05rem);
}

/* кнопки */

.card__button {
  margin: 25px;
  display: flex;
  justify-content: end;
  gap: 12px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.card__like-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  outline: transparent;
  transition: border 0.3s ease;
}

.like-button {
  border: transparent;
  background-color: transparent;
}

.button__text {
  position: relative;
  line-height: 90%;
  font-size: 14px;
  font-family: var(--font-PressStart2P);
  padding: 11px 37px;
  border: var(--block-border);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus-visible {
  border: var(--block-border);
}

.button__text::before, .save-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-bg-aimation);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.footer__text-animation, .button__text-animated {
  position: relative;
  z-index: 1;
  display: inline-flex;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.button__text:hover::before, .save-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus-visible .button__text, .save-button:focus-visible {
  box-shadow: var(--button-box-shadow);
  outline: none;
}

/* кнопка в конце секции */

.save {
  font-family: var(--font-PressStart2P);
  margin: auto;
  margin-block-end: 100px;
  font-size: 14px;
  line-height: 90%;
}

.floppy-contour {
  width: 21px;
  fill: var(--floppy-fill-color);
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: var(--footer-button-padding);
  margin: auto;
  position: relative;
  border: var(--block-border);
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

/* модальное окно */

.dialog {
  font-family: var(--font-PressStart2P);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-color);
  border: var(--block-border);
  background-color: var(--bg-color);
  inline-size: var(--dialog-width);
}

.dialog:not([open]) {
  display: none;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
} 

.section__dialog-window {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.section__dialog-content {
  display: grid;
  gap: 20px;
  grid-template-columns: min-content 1fr;
}

.section__dialog-image {
  inline-size: 39px;
  block-size: 39px;
  margin-block-start: 10px;
}

.section__dialog-button {
  display: inline-block;
  margin-block-start: 30px;
  background-color: var(--bg-color);
  border: var(--block-border);
}