/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {

  /* шрифты */
  --font-Inter: 'Inter', sans-serif;
  --font-PressStart2P: 'PressStart2P', fantasy;
  --font-variation-waight: 'wght' 410;
  /* задний фон */
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0,#d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0, #e7e7e7 0.01%, #1a1a1a 100%);
  /* размер блоков */
  --block-width: clamp(320px, 50vw, 700px);
  --block-offsetX: auto;
  --block-offsetY: 0 50px;
  --block-border: solid 2px #000;
  /* содержимое внутри блока */
  --block-title-padding: 4px 10px;
  --button-box-shadow: 2px 2px 0.5px #000;
  /* переменные для хэдера */
  --header-offsetY: 100px;
  --header-padding: clamp(122px, 100vh, 130px) 0;
  --header-title-font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  --header-title-font-size-mobile: clamp(2.813rem, 1.722rem + 5.455vi, 3rem);
  --header-subtitle-font-size: clamp(0.875rem, 0.714rem + 0.804vw, 1.438rem);
  --header-subtitle-ofset-top: 20px;
  /* основыне переменные цветов */
  --bg-color: #fff;
  --text-color: #000;
  --button-bg-aimation: var(--text-color);
  --button-text-animation: var(--bg-color);
  /*переменная для цвета обводки */
  --label-text-stroke-color: #fff;
  /* переменные для анимаций */
  --contour-color: #000000;
  --animation-fill-color: #ff0000;
  /* svg иконка дискеты */
  --floppy-fill-color: #fff;
  /* открывающееся окно */
  --dialog-width: clamp(341px, 40vw, 353px);
  --dialog-content-padding: clamp(0.5rem, -9.411rem + 49.554vw, 14.375rem);
}